/* ==========================================================================
   Modules
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Partials
   ========================================================================== */
/*
* HTML5 Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-webkit-selection {
  background-color: white;
  color: #006699;
  text-shadow: none; }

::-moz-selection {
  background-color: white;
  color: #006699;
  text-shadow: none; }

::selection {
  background-color: white;
  color: #006699;
  text-shadow: none; }

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/
img {
  vertical-align: middle; }

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical; }

/* ==========================================================================
Chrome Frame prompt
========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/* Variables.
   ========================================================================== */
/* Rules
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 20em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 0.98; }
  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 6em; } }

h2 {
  font-size: 4.8em;
  margin: 0;
  padding: 0.8em 0 0 0;
  line-height: 0.89; }
  @media only screen and (max-width: 800px) {
    h2 {
      padding: 1.2em 0 0 0.2em; } }

.work h2 {
  margin: 0 0 0.2em 0;
  padding: 0 0 0.12em 0.2em; }
  @media only screen and (max-width: 800px) {
    .work h2 {
      text-align: center;
      margin: 0;
      padding: 0.2em 0 0 0; } }

h3 {
  font-size: 2.6em; }

h4 {
  font-size: 2.4em;
  margin: 0;
  padding: 0;
  letter-spacing: 2; }

h5 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  letter-spacing: 2;
  color: #fff; }

p {
  font-family: "gt_pressura_mono_regular", sans-serif;
  font-size: 1.2em;
  margin: 0 0 1.4em 0;
  padding: 1.2em 0 0 0;
  line-height: 1.6;
  font-weight: normal; }
  @media only screen and (max-width: 800px) {
    p {
      width: 100%;
      margin: 0 auto; } }

/* ==========================================================================
   Grid.
   ========================================================================== */
#grid {
  width: 100%;
  margin: 4em 0 0 0; }
  @media only screen and (max-width: 800px) {
    #grid {
      margin: 0; } }

@media screen only and (max-width: 800px) {
  #grid figure img {
    margin-top: 96px; } }

.col {
  /* For Project and Work */
  width: 33.3333333333333%;
  height: auto;
  float: left;
  display: block;
  margin: 0 0 2em 0; }
  @media only screen and (max-width: 800px) {
    .col {
      width: 50%;
      float: left;
      padding: 0 0 0 0;
      margin: 0 0 2em 0;
      display: block; } }

.col2 {
  /* For Project Pages */
  width: 65%;
  float: left;
  padding: 4em 0 0 0; }
  @media only screen and (max-width: 800px) {
    .col2 {
      width: 50%;
      display: block;
      float: none;
      padding: 20em 0 0 0; } }

.col3 {
  width: 33.3333333333333%;
  height: auto;
  float: left;
  display: block;
  margin: 2.2em 0 2em 0; }
  @media only screen and (max-width: 800px) {
    .col3 {
      width: 100%;
      float: left;
      padding: 0;
      margin: 0 auto 3em auto;
      display: block;
      clear: both; } }

.col4 {
  width: 65%;
  display: block;
  float: left;
  padding: 12em 6.4em 0 3em; }
  @media only screen and (max-width: 800px) {
    .col4 {
      width: 80%;
      display: block;
      float: none;
      font-size: 0.8em;
      padding: 0;
      margin: 5em auto;
      clear: both; } }

.col3 h2 {
  padding: 2.2em 0 0 0;
  text-align: center;
  color: #fff; }
  @media only screen and (max-width: 400px) {
    .col3 h2 {
      padding: 2.8em 0 0 0;
      font-size: 3em; } }

.col4 p {
  font-family: "gt_pressura_mono_regular", sans-serif, monospace;
  padding: 0 0 0 0;
  color: #fff; }
  @media only screen and (max-width: 800px) {
    .col4 p {
      margin: 0 0 2em 0; } }

/* ==========================================================================
   Utility.
   ========================================================================== */
/* Fade In Animation
   ========================================================================== */
/* ==========================================================================
   Base Styles
   ========================================================================== */
body {
  background-color: white;
  font-family: "gt_pressura_mono_regular", sans-serif, monospace;
  color: #006699;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 800px) {
    body {
      background-color: #006699; } }

a {
  color: #006699;
  text-decoration: none; }

a:hover {
  border-bottom: solid 4px white; }

ul {
  margin: 0;
  padding: 0; }

li {
  text-decoration: none;
  display: inline;
  padding-right: 0; }

ul li {
  display: inline-block; }

figure {
  margin: 0 auto;
  position: relative; }

figure img {
  width: 100%; }

figcaption {
  font-size: 1.4em;
  margin: 0 0 0 0;
  display: block;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    figcaption {
      font-size: 1.12em; } }

figcaption span:hover {
  border-bottom: 4px solid #006699; }

caption {
  display: block;
  padding: 0 0 0 0em;
  margin: 2em 0 0 0; }

img {
  margin: 0;
  padding: 0; }

header {
  overflow: hidden;
  position: fixed;
  z-index: 4000;
  width: 100%;
  height: 6.8em;
  top: 0;
  background-color: white;
  margin: 0 0 0 0;
  padding: 0 0.8em; }
  @media only screen and (max-width: 800px) {
    header {
      height: 5.2em;
      padding: 0 1.2em; } }

#projects {
  background: white 50% 0 no-repeat;
  position: absolute;
  margin: 0 auto;
  z-index: 400; }

/* ==========================================================================
   Nav.
   ========================================================================== */
nav {
  overflow: center; }

@media only screen and (max-width: 800px) {
  nav h4 {
    font-size: 1.2em;
    padding: 0.32em 0 0 0; } }

.middle {
  padding-left: 20%; }
  @media only screen and (max-width: 800px) {
    .middle {
      padding-left: 8%; } }

/* .right {
    margin: 0 0 0 0;
    float: left;
} */
.right {
  float: right; }
  @media only screen and (max-width: 600px) {
    .right {
      text-align: center;
      float: none; } }

.right ul {
  text-align: right;
  margin: 0 auto;
  float: right; }

.right li {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 auto;
  padding: 0.4em 2em 0 0; }
  @media only screen and (max-width: 400px) {
    .right li {
      padding: 0.4em 1em 0 0; } }

.right li a:hover {
  border-bottom: 4px solid #006699; }

.right li:last-of-type {
  padding: 0 0 0 0; }

.last {
  margin-bottom: 2em; }

.line {
  border-bottom: 8px solid;
  margin: 0.4em 0 0 0; }

/* .line2 {
    border-bottom: 2px dotted;
    width: 100%;
    padding: 0 0 0 0;
} */
#projects {
  background: white 50% 0 no-repeat;
  position: absolute;
  margin: 0 auto;
  z-index: 400; }

/* ==========================================================================
   Containment.
   ========================================================================== */
#container {
  width: 100%; }

#home {
  background: #006699 50% 0 repeat fixed;
  position: relative;
  min-height: 600px;
  margin: 1.8em auto;
  padding: 0;
  /* width: 88%; */
  z-index: 2; }
  @media only screen and (max-width: 800px) {
    #home {
      width: 20%;
      display: inline; } }

#contentarea {
  background: #006699 50% 0 repeat fixed;
  position: relative;
  min-height: 600px;
  margin: 0 auto;
  padding: 0;
  /* width: 88%; */
  z-index: 2;
  overflow: auto; }

#home a:hover {
  border: none;
  text-decoration: none; }

/* ==========================================================================
   Title.
   ========================================================================== */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
.title {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-size: 2em;
  padding: 0 0 0 0;
  margin: 0.2em 0 0 0;
  line-height: 0.86;
  text-rendering: optimizeLegibility;
  display: block;
  position: fixed;
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    .title {
      font-size: 8em;
      margin: 0.8em 0 1.2em 0;
      display: block;
      padding: 0 0 0 0;
      position: relative; } }

.title h2 {
  display: block;
  font-size: 2.2em;
  margin: 13% 0 0 0;
  color: white;
  -webkit-animation: fadeInDown 2s;
  /* Safari 4+ */
  -moz-animation: fadeInDown 2s;
  /* Fx 5+ */
  -o-animation: fadeInDown 2s;
  /* Opera 12+ */
  animation: fadeInDown 2s; }
  @media only screen and (max-width: 800px) {
    .title h2 {
      font-size: 0.4em;
      margin: 1.2em 0 0 0; } }

.title p {
  font-size: 1em;
  color: white;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  max-width: 960px;
  -webkit-animation: fadeInDown 2s;
  /* Safari 4+ */
  -moz-animation: fadeInDown 2s;
  /* Fx 5+ */
  -o-animation: fadeInDown 2s;
  /* Opera 12+ */
  animation: fadeInDown 2s; }
  @media only screen and (max-width: 800px) {
    .title p {
      font-size: 0.14em; } }

.underline a {
  color: #fff;
  border-bottom: 2px solid #fff; }

/* ==========================================================================
   About Me
   ========================================================================== */
.about {
  width: 98%;
  margin: 0 auto; }

.about ul {
  display: block;
  clear: both; }

.about-me {
  position: absolute;
  top: 4.2em;
  width: 80%;
  font-size: 1.6em;
  color: #fff;
  padding: 0 0 0 2em;
  margin: 0; }
  @media only screen and (max-width: 1024px) {
    .about-me {
      font-size: 1.2em;
      width: 92%; } }
  @media only screen and (max-width: 800px) {
    .about-me {
      position: relative;
      top: 2em;
      width: 100%;
      font-size: 0.8em;
      margin: 0;
      padding: 0 2em 0 2em; } }

@media only screen and (max-width: 800px) {
  .about-me p:last-of-type {
    padding: 0 0 4em 0; } }

/* ==========================================================================
   Back Buttons
   ========================================================================== */
.back {
  font-family: "FaktPro-SemiBold", sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: auto; }
  @media only screen and (max-width: 800px) {
    .back {
      background-color: white;
      /* height: 20em; */
      font-size: 0.6em; } }

.end {
  margin-right: 0; }

.buttonleft {
  width: 50%;
  height: 2em;
  display: block;
  font-size: 4em;
  float: left; }
  @media only screen and (max-width: 800px) {
    .buttonleft {
      margin: 0 0 0.6em 0;
      width: 100%;
      float: left; } }

.buttonright {
  width: 50%;
  height: 2em;
  display: block;
  font-size: 4em;
  float: right; }
  @media only screen and (max-width: 800px) {
    .buttonright {
      margin: 0 0 0.6em 0;
      width: 100%;
      float: left; } }

.buttoncenter {
  width: 100%;
  height: 2em;
  display: block;
  font-size: 4em; }

.buttoncenter a {
  display: block;
  margin: 0 auto;
  padding: 0.4em 0 0 0; }

.buttoncenter :hover {
  color: #fff;
  background-color: #006699;
  width: 100%;
  height: 100%; }

.buttonleft a {
  padding: 0.34em 0 0 0;
  display: block; }

.buttonright a {
  padding: 0.34em 0 0 0;
  display: block; }

.buttonleft :hover {
  color: #fff;
  background-color: #006699;
  width: 100%;
  height: 100%; }

.buttonright :hover {
  color: #fff;
  background-color: #006699;
  width: 100%;
  height: 100%; }

/* ==========================================================================
   Footer.
   ========================================================================== */
footer {
  background: #006699 50% 0 repeat fixed;
  position: relative;
  display: block;
  width: 100%;
  height: 8em;
  margin: 0;
  clear: both;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    footer {
      margin: 2em 0 0 0;
      height: 17em;
      text-align: center; } }

footer h4 {
  color: white; }

footer h5 {
  margin: 0.8em 0 0 0; }

footer li {
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.8;
  padding: 0 1.2em 0 0; }

footer li:last-of-type {
  padding: 0; }

footer a {
  color: white;
  text-decoration: none; }

footer span {
  display: block;
  border-top: 2px dotted;
  padding: 0 0 0 2em; }
  @media only screen and (max-width: 800px) {
    footer span {
      display: block;
      border-top: none;
      color: white;
      padding: 0 0 0 2em; } }

fieldset {
  border: none;
  padding: 4em 0 0 4em;
  display: block;
  margin: 0 auto; }

form {
  margin: 0 auto; }

label {
  width: 32%; }

input, textarea, a {
  outline: none; }
