/* ==========================================================================
   Modules
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Partials
   ========================================================================== */
/*
* HTML5 Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/
img {
  vertical-align: middle; }

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical; }

/* ==========================================================================
Chrome Frame prompt
========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/* Variables.
   ========================================================================== */
/* Rules
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 20em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 0.98; }

h2 {
  font-size: 4.8em;
  margin: 0;
  padding: 0.8em 0 0 0;
  line-height: 0.89; }

.work h2 {
  margin: 0 0 0.2em 0;
  padding: 0 0 0.12em 0.2em; }

h3 {
  font-size: 2.6em; }

h4 {
  font-size: 2.4em;
  margin: 0;
  padding: 0;
  letter-spacing: 2; }

h5 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  letter-spacing: 2;
  color: #fff; }

p {
  font-family: "gt_pressura_mono_regular", sans-serif;
  font-size: 1.2em;
  margin: 0 0 1.4em 0;
  padding: 1.2em 0 0 0;
  line-height: 1.6; }

/* ==========================================================================
   Grid.
   ========================================================================== */
#grid {
  width: 100%;
  margin: 4em 0 0 0; }
  @media only screen and (max-width: 800px) {
    #grid {
      margin: 0; } }

.col {
  /* For Project and Work */
  width: 33.3333333333333%;
  height: auto;
  float: left;
  display: block;
  margin: 0 0 2em 0; }
  @media only screen and (max-width: 800px) {
    .col {
      width: 50%;
      float: left;
      padding: 0 0 0 0;
      margin: 0 0 2em 0;
      display: block; } }

.col2 {
  /* For Project Pages */
  width: 65%;
  float: left;
  padding: 4em 0 0 0; }
  @media only screen and (max-width: 800px) {
    .col2 {
      width: 50%;
      display: block;
      float: none;
      padding: 20em 0 0 0; } }

.col3 {
  width: 33.3333333333333%;
  height: auto;
  float: left;
  display: block;
  margin: 2.2em 0 2em 0; }
  @media only screen and (max-width: 800px) {
    .col3 {
      width: 75%;
      float: left;
      padding: 0 0 2em 0;
      margin: 2em 2em 0;
      display: block; } }

.col4 {
  width: 65%;
  display: block;
  float: left;
  padding: 12em 6.4em 0 3em; }
  @media only screen and (max-width: 800px) {
    .col4 {
      width: 80%;
      display: block;
      float: none;
      padding: 18em 0 0 0;
      margin: 0 auto; } }

.col3 h2 {
  padding: 2.2em 0 0 0.4em;
  color: #fff; }

.col4 p {
  font-family: "gt_pressura_mono_regular", sans-serif, monospace;
  padding: 0 0 0 0;
  color: #fff; }
  @media only screen and (max-width: 800px) {
    .col4 p {
      margin: 0 0 2em 0; } }

/* ==========================================================================
   Base Styles
   ========================================================================== */
body {
  background-color: #fff;
  font-family: "gt_pressura_mono_regular", sans-serif, monospace;
  color: #006699;
  margin: 0;
  padding: 0; }

a {
  color: #006699;
  text-decoration: none; }

a:hover {
  border-bottom: solid 4px #fff; }

ul {
  margin: 0;
  padding: 0; }

li {
  text-decoration: none;
  display: inline;
  padding-right: 0; }

ul li {
  display: inline-block; }

figure {
  margin: 0 auto;
  position: relative; }

figure img {
  width: 100%; }

figcaption {
  font-size: 1.4em;
  margin: 0 0 0 0;
  display: block;
  text-align: center; }

figcaption span:hover {
  border-bottom: 4px solid #006699; }

caption {
  display: block;
  padding: 0 0 0 0em;
  margin: 2em 0 0 0; }

img {
  margin: 0;
  padding: 0; }

header {
  overflow: hidden;
  position: fixed;
  z-index: 4000;
  width: 100%;
  height: 6.8em;
  top: 0;
  background-color: white;
  margin: 0 0 0 0;
  padding-right: 1.2em;
  padding-left: 0.8em; }

#projects {
  background: white 50% 0 no-repeat;
  position: absolute;
  margin: 0 auto;
  z-index: 400; }

/* ==========================================================================
   Nav.
   ========================================================================== */
nav {
  overflow: center; }

.middle {
  padding-left: 20%; }

/* .right {
    margin: 0 0 0 0;
    float: left;
} */
.right {
  float: right; }

.right ul {
  text-align: right;
  margin: 0 auto;
  float: right; }

.right li {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 auto;
  padding: 0.4em 2em 0 0; }

.right li a:hover {
  border-bottom: 4px solid #006699; }

.right li:last-of-type {
  padding: 0 0 0 0; }

.last {
  margin-bottom: 2em; }

.line {
  border-bottom: 8px solid; }

/* .line2 {
    border-bottom: 2px dotted;
    width: 100%;
    padding: 0 0 0 0;
} */
#projects {
  background: white 50% 0 no-repeat;
  position: absolute;
  margin: 0 auto;
  z-index: 400; }

.work h2 {
  margin: 0 0 0.2em 0;
  padding: 0 0 0.12em 0.2em; }

/* ==========================================================================
   Containment.
   ========================================================================== */
#container {
  width: 100%; }

#home {
  background: #006699 50% 0 repeat fixed;
  position: relative;
  min-height: 600px;
  margin: 1.8em auto;
  padding: 0;
  /* width: 88%; */
  z-index: 2; }

#contentarea {
  background: #006699 50% 0 repeat fixed;
  position: relative;
  min-height: 600px;
  margin: 0 auto;
  padding: 0;
  /* width: 88%; */
  z-index: 2; }

#home a:hover {
  border: none;
  text-decoration: none; }

/* ==========================================================================
   Title.
   ========================================================================== */
.title {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0.2em 0 0 0;
  line-height: 0.86;
  text-rendering: optimizeLegibility;
  display: block;
  position: fixed;
  width: 100%;
  text-align: center; }

.title h2 {
  font-size: 2.2em;
  margin: 13% 0 0 0;
  color: #fff; }

.title p {
  font-size: 1em;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  display: inline-block; }

/* ==========================================================================
   About Me
   ========================================================================== */
.about {
  width: 98%;
  margin: 0 auto; }

.about ul {
  display: block;
  clear: both; }

.about-me {
  position: absolute;
  top: 4.2em;
  width: 80%;
  font-size: 1.6em;
  color: #fff;
  padding: 0 0 0 2em;
  margin: 0; }

/* ==========================================================================
   Back Buttons
   ========================================================================== */
.back {
  font-family: "FaktPro-SemiBold", sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center; }

.end {
  margin-right: 0; }

.buttonleft {
  width: 50%;
  height: 2em;
  display: block;
  font-size: 4em;
  float: left; }

.buttonright {
  width: 50%;
  height: 2em;
  display: block;
  font-size: 4em;
  float: right; }

.buttoncenter {
  width: 100%;
  height: 2em;
  display: block;
  font-size: 4em; }

.buttoncenter a {
  display: block;
  margin: 0 auto;
  padding: 0.4em 0 0 0; }

.buttoncenter :hover {
  color: #fff;
  background-color: #006699;
  width: 100%;
  height: 100%; }

.buttonleft a {
  padding: 0.34em 0 0 0;
  display: block; }

.buttonright a {
  padding: 0.34em 0 0 0;
  display: block; }

.buttonleft :hover {
  color: #fff;
  background-color: #006699;
  width: 100%;
  height: 100%; }

.buttonright :hover {
  color: #fff;
  background-color: #006699;
  width: 100%;
  height: 100%; }

/* ==========================================================================
   Footer.
   ========================================================================== */
footer {
  background: #006699 50% 0 repeat fixed;
  position: relative;
  display: block;
  width: 100%;
  height: 8em;
  margin: 0;
  clear: both;
  text-align: center; }

footer .col3 {
  padding: 0 0 0 1.2em; }

footer h4 {
  color: #fff; }

footer h5 {
  margin: 0.8em 0 0 0; }

footer li {
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.8;
  padding: 0 1.2em 0 0; }

footer a {
  color: #fff;
  text-decoration: none; }

footer span {
  display: block;
  border-top: 2px dotted;
  padding: 0 0 0 2em; }

fieldset {
  border: none;
  padding: 4em 0 0 4em;
  display: block;
  margin: 0 auto; }

form {
  margin: 0 auto; }

label {
  width: 32%; }

input, textarea, a {
  outline: none; }
