/* ==========================================================================
   Base Styles
   ========================================================================== */

body {
    background-color: $white;
    font-family: $body_copy, monospace;
    color: $brand_blue;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 800px) {
        background-color: $brand_blue;
    }
}


a {
    color: #006699;
    text-decoration: none;
    border: 0px;
} 

a:hover {
    border-bottom: solid 4px $white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    display: inline;
    padding-right: 0;
}

ul li {
    display: inline-block;
}

figure {
    margin: 0 auto;
    position: relative;
}

figure img {
    width: 100%;
}

figcaption {
    font-size: 1.4em;
    margin: 0 0 0 0;
    display: block;
    text-align: center;
    @media only screen and (max-width: 800px) {
        font-size: 1.12em;
    }
}

figcaption span:hover {
    border-bottom: 4px solid $brand_blue;
}

caption {
    display: block;
    padding: 0 0 0 0em;
    margin: 2em 0 0 0;
}

a img {
    border: 0px;
}

img {
    margin: 0;
    padding: 0;
    border : 0px;
}

header {
    overflow: hidden;
    position: fixed;
    z-index: 4000;
    width: 100%;
    height: 6.8em;
    top: 0;
    background-color: $white;
    margin: 0 0 0 0;
    padding: 0 0.8em;
    @media only screen and (max-width: 800px) {
        height: 5.2em;
        padding: 0 1.2em;
    }
}

#projects {
    background: $white 50% 0 no-repeat;
    position: absolute;
    margin: 0 auto;
    z-index: 400;
}

/* ==========================================================================
   Nav.
   ========================================================================== */

nav {
    overflow: center;
}

nav h4 {
    @media only screen and (max-width: 800px) {
        font-size: 1.2em;
        padding: 0.32em 0 0 0;
    }
}


.middle {
    padding-left: 20%;
    @media only screen and (max-width: 800px) {
        padding-left: 8%;
    }
}


/* .right {
    margin: 0 0 0 0;
    float: left;
} */

.right {
    float: right;
    @media only screen and (max-width: 600px) {
        text-align: center;
        float: none;
    }
}

.right ul {
    text-align: right;
    margin: 0 auto;
    float: right;
}

.right li {
    font-size: 1.2em;
    display: inline-block;
    margin: 0 auto;
    padding: 0.4em 2em 0 0;
    @media only screen and (max-width: 400px) {
        padding: 0.4em 1em 0 0;
    }
}

.right li a:hover {
    border-bottom: 4px solid $brand_blue;
}

.right li:last-of-type {
    padding: 0 0 0 0;
}

.last {
    margin-bottom: 2em;
}

.line {
    border-bottom: 8px solid;
    margin: 0.4em 0 0 0;
}

/* .line2 {
    border-bottom: 2px dotted;
    width: 100%;
    padding: 0 0 0 0;
} */

#projects {
    background: $white 50% 0 no-repeat;
    position: absolute;
    margin: 0 auto;
    z-index: 400;   
}


/* ==========================================================================
   Containment.
   ========================================================================== */
#container {
    width: 100%;
}

#home {
    background: $brand_blue 50% 0 repeat fixed;
    position: relative;
    min-height: 600px;
    margin: 1.8em auto;
    padding: 0;
    /* width: 88%; */
    z-index: 2;
    @media only screen and (max-width: 800px) {
        width: 20%;
        display: inline;
    }
}

#contentarea {
    background: $brand_blue 50% 0 repeat fixed;
    position: relative;
    min-height: 600px;
    margin: 0 auto;
    padding: 0;
    /* width: 88%; */
    z-index: 2;
    overflow: auto;
}

#home a:hover {
    border: none;
    text-decoration: none;
}


/* ==========================================================================
   Title.
   ========================================================================== */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.title {
    font-family: $headlines;
    font-size: 2em;
    padding: 0 0 0 0;
    margin: 0.2em 0 0 0;
    line-height: 0.86;
    text-rendering: optimizeLegibility;
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    @media only screen and (max-width: 800px) {
        font-size: 8em;
        margin: 0.8em 0 1.2em 0;
        display: block;
        padding: 0 0 0 0;
        position: relative;
    }
}

.title h2 {
    display: block;
    font-size: 2.2em;
    margin: 13% 0 0 0;
    color: $white;
    -webkit-animation: fadeInDown 2s; /* Safari 4+ */
    -moz-animation: fadeInDown 2s; /* Fx 5+ */
    -o-animation: fadeInDown 2s; /* Opera 12+ */
    animation: fadeInDown 2s;
    @media only screen and (max-width: 800px) {
        font-size: 0.4em;
        margin: 1.2em 0 0 0;
    }
}

.title p {
    font-size: 1em;
    color: $white;
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    max-width: 960px;
    -webkit-animation: fadeInDown 2s; /* Safari 4+ */
    -moz-animation: fadeInDown 2s; /* Fx 5+ */
    -o-animation: fadeInDown 2s; /* Opera 12+ */
    animation: fadeInDown 2s;
    @media only screen and (max-width: 800px) {
        font-size: 0.14em;
    }
}

.underline a {
    color: #fff;
    border-bottom: 2px solid #fff;
}


/* ==========================================================================
   About Me
   ========================================================================== */
.about {
    width: 98%;
    margin: 0 auto;
}

.about ul {
    display: block;
    clear: both;
}

.about-me {
    position: absolute;
    top: 4.2em;
    width: 80%;
    font-size: 1.6em;
    color: #fff;
    padding: 0 0 0 2em;
    margin: 0;
    @media only screen and (max-width: 1024px) {
        font-size: 1.2em;
        width: 92%;
    }
    @media only screen and (max-width: 800px) {
        position: relative;
        top: 2em;
        width: 100%;
        font-size: 0.8em;
        margin: 0;
        padding: 0 2em 0 2em;
    }
}

.about-me p:last-of-type {
    @media only screen and (max-width: 800px) {
        padding: 0 0 4em 0;
    }
}

/* ==========================================================================
   Back Buttons
   ========================================================================== */
.back {
    font-family: $headlines;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    overflow: auto;
    @media only screen and (max-width: 800px) {
        background-color: $white;
        /* height: 20em; */
        font-size: 0.6em;
        // padding: 0 4em;
    }
}

.end {
    margin-right: 0;
}

.buttonleft {
    width: 50%;
    height: 2em;
    display: block;
    font-size: 4em;
    float: left;
    @media only screen and (max-width: 800px) {
        margin: 0 0 0.6em 0;
        width: 100%;
        float: left;
    }
}

.buttonright {
    width: 50%;
    height: 2em;
    display: block;
    font-size: 4em;
    float: right;
    @media only screen and (max-width: 800px) {
        margin: 0 0 0.6em 0;
        width: 100%;
        float: left;
    }
}

.buttoncenter {
    width: 100%;
    height: 2em;
    display: block;
    font-size: 4em;
}

.buttoncenter a {
    display: block;
    margin: 0 auto;
    padding: 0.4em 0 0 0;
}

.buttoncenter :hover {
    color: #fff;
    background-color: $brand_blue;
    width: 100%;
    height: 100%;
}

.buttonleft a {
    padding: 0.34em 0 0 0;
    display: block;
}

.buttonright a {
    padding: 0.34em 0 0 0;
    display: block;
}


.buttonleft :hover {
    color: #fff;
    background-color: $brand_blue;
    width: 100%;
    height: 100%;
}

.buttonright :hover {
    color: #fff;
    background-color: $brand_blue;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
   Footer.
   ========================================================================== */

footer {
    background: $brand_blue 50% 0 repeat fixed;
    position: relative;
    display: block;
    width: 100%;
    height: 8em;
    margin: 0;
    clear: both;
    text-align: center;
    @media only screen and (max-width: 800px) {
        margin: 2em 0 0 0;
        height: 17em;
        text-align: center;
    }
}

footer .col3 {
    // padding: 0 0 0 1.2em;
}

footer h4 {
    color: $white;
}

footer h5 {
    margin: 0.8em 0 0 0;
}

footer li {
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.8;
    padding: 0 1.2em 0 0;
}

footer li:last-of-type {
    padding: 0;
}

footer a {
    color: $white;
    text-decoration: none;
}

footer span {
    display: block;
    border-top: 2px dotted;
    padding: 0 0 0 2em;
    @media only screen and (max-width: 800px) {
        display: block;
        border-top: none;
        color: $white;
        padding: 0 0 0 2em;
    }
}

fieldset { 
    border: none;
    padding: 4em 0 0 4em;
    display: block;
    margin: 0 auto;
}

form {
    margin: 0 auto;
}

label {
    width: 32%;
}

input, textarea, a { 
    outline: none; 
}